.PrductGrid{
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    
}
.productdetails{
display: flex;
justify-content: space-between;
margin: 10px;
color:white
}
.productCount{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:50vw;
    max-width: 150px;

}

.displaySection{
    display: flex;
    justify-content: space-between;
}

.productdetails p{
    font-size: 5vw;
}

.Loading{
    color:white;
    font-size:20px;
    align-self: center;

}
@media screen and (min-width:400px){
    .productdetails p{
        font-size: 15px;
    }
}

