.sortingSection{
display: flex;
justify-content: space-between;
}

.displaySection{
    display: flex;
    justify-content: space-between;
    }
aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:200px;
    width:20vw;
    

}
.hidebutton{
    border:none;
    border-bottom:1px solid black
}
.labelSection{
    display: flex;
    align-items: center;

}

.labelSection label{
    font-size: 4vw;
}
.sortingSection option{
    font-size: 4vw;
}
.sortingSection button{
    font-size: 4vw;
}
.sortingSection select{
    width:40vw;
    max-width: 200px;
    font-size: 4vw;
}
.clearButton{
    width:40vw;
    max-width:200px;
    font-size:4vw


}
@media screen and (min-width:600px){
    .labelSection label{
        font-size: 2vw;
    }
    .sortingSection option{
        font-size: 2vw;
    }
    .sortingSection button{
        font-size: 2vw;
    }
    .sortingSection select{
      
        font-size: 1.5vw;
    }
    .clearButton{
        
        font-size:1.5vw
    
    
    }

}